sudo: false
language: node_js
node_js:
  - "6"
  - "8"
  - "10"
  - "lts/*"
  - "node"
matrix:
  include:
    - node_js: "node"
      env: TEST_SUITE=lint
env:
  - TEST_SUITE=unit
script: npm run-script $TEST_SUITE
os:
  - linux
  - osx
  - windows
